<%= content_for :title, "Curriculum Vitae" %>
<div class="row panel">
  <!-- Header  -->
  <div id="header" class="row">
    <div class="large-2 small-12 columns" id="image">
      <%= image_tag "Avatar.jpg", alt: "Avatar", class: "centered"  %>
    </div>

    <!-- @info sturcture:
    first_name,
    last_name,
    birth_day,
    birth_month,
    birth_year,
    birth_place,
    nationality,
    description
    email,
    -->
    <div id="description" class="large-3 small-12 columns">
      <h1><%= "#{@info['first_name']} #{@info['last_name']}" %></h1>
      <h3><%= @info['description'] %></h3>
    </div>

    <div class="large-3 small-12 columns">
      <ul class="vcard">
        <li>
        <strong>Birth Date:</strong>
        <%= @info['birth_day']%>th of 
        <%= "#{@info['birth_month']} #{@info['birth_year']}" %>
        </li>
        <li>
        <strong>Birth Place:</strong> 
        <%= @info['birth_place'] %>
        </li>
        <li>
        <strong>Nationality:</strong>
        <%= @info['nationality'] %>
        </li>
        <li>
        <strong>E-Mail:</strong>
        <%= link_to @info['email'], "mailto:#{@info['email']}" %>
        </li>
      </ul>
    </div>
  </div>

  <!-- Body -->
  <div id="body" class="row">

    <!-- Three parts -->
    <!-- First, Education/Experience -->
    <div class="large-4 columns">

      <!-- Education ... -->
      <!-- @edu structure:
      beginning_y,
      end_y,
      title,
      location
      -->
      <div class="row">
        <div id="edu" class="large-12 columns">
          <h2>Education</h2>
          <% @edu.each do |year| %>
            <div id="name" class="row">
              <div id="name" class="large-5 small-4 columns">
                <h5>
                  <%= "#{year['beginning_y']}-#{year['end_y']}" %>:
                </h5> 
              </div>
              <div id="name" class="large-4 small-4 columns">
                <p>
                <%= year['title'] %>
                </p>
              </div>
              <div id="name" class="large-3 small-4 columns">
                <p>
                <i>
                  <%= year['location'] %>
                </i>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>


      <!-- Experience -->
      <!-- @exp stucture:
      description,
      month_start,
      month_end,
      company,
      location,
      type
      -->
      <div class="row">
        <div id="" class="large-12 columns">
          <h2>Experience and projects</h2>
          <div id="" class="large-12 columns">

            <% @exp.each do |ex| %>
              <div class="row experience">
                <div class="expheader">
                  <h4>
                    <%= ex['title'] %>
                  </h4>
                  <i><%= ex['type'] %></i>
                </div>
                <div class="expbody">
                  <% if !ex['company'].nil? %>
                    Company:
                    <b>
                      <%= ex['company'] %>. 
                    </b>
                  <% end %>
                  <% if !ex['description'].nil? %>
                    <p><%= ex['description'] %></p>
                  <% end %>
                  <p>
                  <% if !ex['month_start'].nil?  && !ex['month_end'].nil? %>
                    <%= ex['month_start'] %> - <%= ex['month_end'] %>
                    <% if !ex['location'].nil? %>
                      | <i><%= ex['location'] %></i>
                    <% end %>
                  <% end %>
                  </p>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div> <!-- First column -->

    <!-- Second column, Skills -->
    <!-- @skills stucture:
    section
    items => array of:
    title, value
    -->
    <div class="large-4 columns">
      <div id="skills" class="row">
        <div id="skills" class="large-12 columns">
          <h2>Skills</h2>
          <% @skills.each do |section| %>
            <h4>
              <%= section['section'] %>
            </h4>
            <div id="listskills" class="large-10 large-centered columns">
              <p>
                <% skills = Array.new %>
                <% section['items'].each do |skill|%>
                  <% skills << "#{skill['title']} " %>
                <% end %>
                <%= skills.join(",\s"); %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <!-- Third, Interests and languages -->
    <!-- Languages -->
    <div class="large-4 columns">
      <div  class="large-12 columns">
        <div id="languages" class="row">
          <h2>Languages</h2>
          <div id="list" class="large-10 large-centered columns">
            <ul>
              <% @languages.each do |lang| %>
                <li>
                <%= "#{lang['lang']}: #{lang['level']}" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- Interests --> 


        <div id="" class="row">
          <h2>Interests</h2>
          <ul class="small-block-grid-2">
            <% @interests.each do |interest| %>
              <li><%= interest %></li>
            <% end %>
          </ul>
        </div><!-- interests -->



        <!-- Trips -->
        <div class="row">
          <h2>Places lived and travelled</h2>
          <ul class="small-block-grid-2">
            <% @trips.each do |trip| %>
              <li>
              <div class="bubblerow">
                <div class="td">
                  <div class="flag" style="background-image:url('/assets/flags/<%=trip['country'].downcase%>.svg')">
                    <% if !trip['did'] %>
                    <% end %> 
                  </div>

                </div>
                <div class="td">
                  <strong><%= trip['country']%></strong>
                </div>
              </div>
              </li>
            <% end %>
          </ul>
        </div><!-- trips -->
      </div>
    </div>
  </div>
</div>
